# build output
dist/
.astro/
.wrangler/

# dependencies
node_modules/

# environment
.env
.env.production

# logs
npm-debug.log*

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# macOS
.DS_Store
.dev.vars
